LITELLM_MASTER_KEY=sk-change-this-master-key
LITELLM_SALT_KEY=change-this-salt-key
LITELLM_DATABASE_URL=postgresql://litellm:litellm_dev_password@postgres:5432/litellm
LITELLM_PORT=4000
VLLM_BASE_URL=http://host.docker.internal:8000/v1
VLLM_API_KEY=EMPTY
LITELLM_ACTIVE_MODEL=active-lanta-model
POSTGRES_USER=litellm
POSTGRES_PASSWORD=litellm_dev_password
POSTGRES_DB=litellm
